@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rebeccapurple; /* Track color */
  --secondary: cornflowerblue; /* Thumb color */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Options: auto, thin */
  scrollbar-color: var(--secondary) var(--primary); /* thumb color, track color */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--primary); /* Track color */
  border-radius: 5px; /* Track border radius */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary); /* Thumb color */
  border-radius: 14px; /* Thumb border radius */
  border: 3px solid var(--primary); /* Thumb border */
}

html,
body,
#root {
  @apply h-full;
}

body {
  @apply bg-slate-100 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
}

h1,
h3,
h4,
h5,
h6,
p {
  @apply antialiased;
}

h1 {
  @apply text-3xl font-bold mb-5;
}

h2 {
  @apply text-2xl font-bold mb-5;
}

h3 {
  @apply text-xl font-bold mb-3;
}

h4 {
  @apply text-lg font-bold mb-3;
}

h5 {
  @apply text-base font-bold;
}

h6 {
  @apply text-sm font-bold;
}

p {
  @apply text-base mb-4;
}

a {
  @apply text-blue-500 dark:text-blue-400 underline;
}

.leaflet-container {
  height: 300px;
  z-index: 0;
}
